# MATH 210 Introduction to Mathematical Computing

## January 13, 2017

1. Basic Python
  * Numeric types: integer and float
  * Variables
  * Print function
  * Lists and tuples
  * List comprehensions
  * Built-in functions
2. Exercises

## Basic Python

Last time we saw integers and floats:

In [1]:
2*3

6

In [2]:
11/3

3.6666666666666665

## Variables 

We can store data in variables using the assignment operator =.

In [4]:
x = 2

In [5]:
x

2

In [6]:
y = 3

In [7]:
x*y

6

In [8]:
1 + x + x**2 + x**3

15

In [9]:
number = 5

In [10]:
number + 5

10

In [11]:
number**2

25

In [12]:
another_number = 3.14159

In [13]:
number * another_number

15.70795

You cannot start a variable name with a number

## Print Function

Notice that when several expressions are computed in a code cell, only the last expression is displayed in output.

In [14]:
1+2
3+4
4+5

9

Use the `print` function to display variables, values, etc.

In [15]:
print(1+2)
print(3+4)
print(4+5)

3
7
9

In [18]:
print(1)
print(2)
3

1
2

3

Notice that `print` turns green in the cell. This is Python's way of telling us that this is a keyword in Python. **DO NOT USE KEYWORDS AS VARIABLE NAMES!** If you do this you have to restart the kernel to wipe out the variables!

## Lists and Tuples

Use square brackets to define a list.

In [16]:
[1,2,3]

[1, 2, 3]

In [17]:
[1,4]

[1, 4]

We can access the elements of a list using the square bracket index syntax.

In [19]:
a_list = [2,3,5,7,11,13,17,19,23,29]

In [20]:
a_list[0]

2

Notice that lists are indexed starting at 0.

In [21]:
a_list[1]

3

In [22]:
a_list[-1]

29

`a_list[-1]` is the last element in the list.

In [23]:
a_list[0:4]

[2, 3, 5, 7]

Notice the 4th digit is not included.

See more features of lists in the [documentaion](https://docs.python.org/3/tutorial/datastructures.html). Lists can hold any type of datatype!

In [25]:
new_list = [1,2,3,[7,8]]

In [26]:
new_list

[1, 2, 3, [7, 8]]

In [28]:
new_list[3][1]

8

Lists have many methods to transform them. The method that we'll use most often is `.append`.

In [29]:
new_list.append(-1)

In [30]:
new_list

[1, 2, 3, [7, 8], -1]

Lists have many different methods. Check out the documentaion!

Tuples are a special type of list. The differences between them are a bit technical and so we'll just leave it. At least, the syntax to create a tuple is to use round brackets.

In [31]:
a_tuple = (1,1.1,1.11,1.111)

In [32]:
print(a_tuple)

(1, 1.1, 1.11, 1.111)

In [33]:
a_tuple[0]

1

One difference is that tuples are immutable. They can't be changed! But lists can be changed.

In [34]:
print(a_tuple)

(1, 1.1, 1.11, 1.111)

In [35]:
print(a_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [36]:
a_list[1]

3

In [37]:
a_list[1] = 1000

In [38]:
print(a_list)

[2, 1000, 5, 7, 11, 13, 17, 19, 23, 29]

In [39]:
a_tuple[1] = 1000

TypeError: 'tuple' object does not support item assignment

## List Comprehensions

It's very inefficient to create a list manually. For example;

In [40]:
numbers = [1,2,3,4,5,6,7,8,9,10]

Instead we use a list comprehesion:

In [41]:
numbers = [n for n in range (1,10)]

In [44]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
squares = [n**2 for n in range (1,11)]

In [46]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Built-In Functions

We've already seen the builtin `print` function. There are many other functions in the [standard Python library](https://docs.python.org/3/library/functions.html). For example, sum adds the elements in a list.

Let's compute part of Euler's famoous formula:

$$
\frac{\pi^2}{6} = 
\sum_{k = 1}^\infty \frac{1}{k^2}
$$

In [47]:
N = 1000
terms = [1/k**2 for k in range (1,N)]
approx = sum(terms)
print(approx)

1.6439335666815615

In [48]:
(approx*6)**0.5

3.14063710098594

## Exercises

`1.`

In [20]:
N1 = 5000
terms1 = [((((-1)**n) * 1**((2*n)+1))/ ((2*n)+1)) for n in range (0, N1)]
approx1 = sum(terms1)
print(approx1)

0.7853481633979478

In [16]:
math.pi/4

0.7853981633974483

2.

In [19]:
N2 = 2000
terms2 = [((-1)**n) / n for n in range (1,N2)]
approx2 = sum(terms2)
print(approx2)

-0.6933972430599402

3.

In [23]:
[1,2,3] + [3,2,1]

[1, 2, 3, 3, 2, 1]

In [1]:
list1 = [1,2,3]
list2 = [3,2,1]
list1 + list2

[1, 2, 3, 3, 2, 1]

The two lists become one when you add them together. Note this **is not** vector addition.

4.

In [4]:
list1 = [n % 10 for n in range (0,100)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
len(list1)

99

5.

In [21]:
list5 = [n // 39 for n in range(1,39*5)]
print (sorted(list5))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

6.

In [44]:
list2 = [[n, n**2] for n in range(1,31)]
print(list2)

[[1, 1], [2, 4], [3, 9], [4, 16], [5, 25], [6, 36], [7, 49], [8, 64], [9, 81], [10, 100], [11, 121], [12, 144], [13, 169], [14, 196], [15, 225], [16, 256], [17, 289], [18, 324], [19, 361], [20, 400], [21, 441], [22, 484], [23, 529], [24, 576], [25, 625], [26, 676], [27, 729], [28, 784], [29, 841], [30, 900]]